@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    transition: 0.3s;
    --main-bg: hsl(222, 26%, 31%);
    --toggle-keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key-bg: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --key-bg-toggle: hsl(6, 63%, 50%);
    --key-sec-shadow: hsl(6, 70%, 34%);
    --third-key: hsl(30, 25%, 89%);
    --third-key-shadow: hsl(28, 16%, 65%);
    --screen-text: hsl(0, 0%, 100%);
    --key-text: hsl(221, 14%, 31%);
    --white-text: hsl(0, 0%, 100%);
    background-color: var(--main-bg);
}

body.theme2 {
    --main-bg: hsl(0, 0%, 90%);
    --toggle-keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key-bg: hsl(185, 42%, 37%);
    --key-shadow: hsl(185, 58%, 25%);
    --key-bg-toggle: hsl(25, 98%, 40%);
    --key-sec-shadow: hsl(25, 99%, 27%);
    --third-key: hsl(45, 7%, 89%);
    --third-key-shadow: hsl(35, 11%, 61%);
    --screen-text: hsl(60, 10%, 19%);
    --key-text: hsl(60, 10%, 19%);
    --white-text: hsl(0, 0%, 100%);
}

body.theme3 {
    --main-bg: hsl(268, 75%, 9%);
    --toggle-keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key-bg: hsl(281, 89%, 26%);
    --key-shadow: hsl(285, 91%, 52%);
    --key-bg-toggle: hsl(176, 100%, 44%);
    --key-sec-shadow: hsl(177, 92%, 70%);
    --third-key: hsl(268, 47%, 21%);
    --third-key-shadow: hsl(290, 70%, 36%);
    --screen-text: hsl(52, 100%, 62%);
    --key-text: hsl(52, 100%, 62%);
    --white-text: hsl(0, 0%, 100%);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-flow: row wrap;
    padding: 50px 0;
    gap: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        gap: 0;
    }

    .content {
        width: 100vw;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

.content .screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--screen-text);
    transition: 0.3s;
}

.content .screen .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .screen .title>span {
    font-size: 30px;
    align-self: flex-end;
}

.content .screen .title .theme-selector .number {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding-bottom: 15px;
}

.content .screen .title .theme-selector .input {
    width: 80px;
    display: flex;
    align-items: center;
}

.content .screen .title .theme-selector .input .text {
    font-size: 14px;
    margin-left: -160px;
}

.content .screen .title .theme-selector .input input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 7px;
    background: var(--toggle-keypad-bg);
    border-radius: 5px;
    transition: 0.3s;
}

.content .screen .title .theme-selector .input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--key-bg-toggle);
    cursor: ew-resize;
    transition: background .3s ease-in-out;
    cursor: pointer;
    transition: 0.3s;
}

.content .screen .title .theme-selector .input input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: var(--toggle-keypad-bg);
    padding: 4px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.content .screen .scr {
    margin-bottom: 20px;
    border-radius: 10px;
    height: 110px;
    font-size: 50px;
    user-select: none;
}

.content .screen .scr:disabled {
    background-color: var(--screen-bg);
    color: var(--screen-text);
    font-family: 'League Spartan', sans-serif;
    text-align: right;
    padding: 20px;
    outline: none;
    border: none;
    user-select: none;
    transition: 0.3s;
}

.content .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 15px;
    width: 100%;
    background-color: var(--toggle-keypad-bg);
    z-index: 0;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.content .buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    color: var(--key-text);
    background-color: var(--third-key);
    position: relative;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    bottom: 0;
    transition: 0.3s;
}

.content .buttons div::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--third-key-shadow);
    border-radius: 10px;
    z-index: -99999;
    bottom: -5px;
    transform-origin: bottom;
    transition: 0.3s;
}

.content .buttons div:hover {
    bottom: -5px;
}

.content .buttons div:hover::after {
    bottom: -0px;
}

.content .buttons .equal {
    color: var(--white-text);
    background-color: var(--key-bg-toggle);
    grid-column: span 2;
    transition: 0.3s;
}

.theme3 .content .buttons .equal {
    color: hsl(198, 20%, 13%);
}

.content .buttons .equal::after {
    background-color: var(--key-sec-shadow);
    transition: 0.3s;
}

.content .buttons .reset {
    color: var(--white-text);
    grid-column: span 2;
    background-color: var(--key-bg);
    transition: 0.3s;
}

.content .buttons .delete {
    color: var(--white-text);
    background-color: var(--key-bg);
    transition: 0.3s;
}

.content .buttons .reset::after,
.content .buttons .delete::after {
    background-color: var(--key-shadow);
    transition: 0.3s;
}

@media (max-width:768px) {
    .content .buttons {
        padding: 15px;
        gap: 20px 15px;
    }
}

.attribution {
    font-size: 1rem;
    line-height: 1.3;
    width: 100vw;
    text-align: center;
    color: var(--screen-text);
    transition: 0.3s;
}

.attribution a {
    color: var(--screen-text);
    transition: 0.3s;
}